<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Environment Configuration</key>
	<dict>
		<key>Environment</key>
		<string>QA</string>
		<key>EnvironmentList</key>
		<array>
			<dict>
				<key>Environment</key>
				<string>Mock</string>
				<key>ServerURL</key>
				<string>https://api-mock.embermed.com/</string>
				<key>LabsServerURL</key>
				<string>https://labs-api-dev.embermed.com/</string>
				<key>APIVersion</key>
				<string>api/v4/</string>
				<key>LabAPIVersion</key>
				<string>api/v3/</string>
				<key>GoogleBrowserAPIKey</key>
				<string>AIzaSyDP2cpZdwlckwNAoJrEf7wGupeK4FIjQBo</string>
				<key>GoogleClientID</key>
				<string>978641682696-qbgjjm78j7nq7ggq2caf7vp87jq237jt.apps.googleusercontent.com</string>
				<key>GoogleMapAPIKey</key>
				<string>AIzaSyBTsllNLcrGzBFNwQi6EUrWTCj6grYTWRI</string>
				<key>OpenTokAPIKey</key>
				<string>46306432</string>
				<key>StripeKey</key>
				<string>pk_test_CMmPTEF4zRhmZZsqROWnzuF0</string>
				<key>FirebaseDBName</key>
				<string>QATesting</string>
				<key>FBAppID</key>
				<string>2237525216467076</string>
				<key>NotificationSubtitle</key>
				<string>QA Test Server</string>
				<key>SendBirdAPIKey</key>
				<string>https://api-3A5958C9-6130-44BE-897A-4D9098FEC71B.sendbird.com</string>
				<key>SendBirdAppID</key>
				<string>3A5958C9-6130-44BE-897A-4D9098FEC71B</string>
				<key>SendBirdAPIToken</key>
				<string>5485cf619b0084d2ce63751bd7a777baaede90c2</string>
				<key>byPassVerificationCode</key>
				<false/>
				<key>IntercomAPIKey</key>
				<string>ios_sdk-686bc9ac6f33e5d4f783cda0deae490cd679a6d1</string>
				<key>IntercomAppID</key>
				<string>wo3px7lq</string>
				<key>EnableIPStack</key>
				<true/>
				<key>IPStackAccesskey</key>
				<string>e66f571f52c46d6d36d9427fafec2c49</string>
			</dict>
			<dict>
				<key>Environment</key>
				<string>QA</string>
				<key>ServerURL</key>
				<string>https://api-dev.embermed.com/</string>
				<key>LabsServerURL</key>
				<string>https://labs-api-dev.embermed.com/</string>
				<key>APIVersion</key>
				<string>api/v5/</string>
				<key>LabAPIVersion</key>
				<string>api/v3/</string>
				<key>GoogleBrowserAPIKey</key>
				<string>AIzaSyDP2cpZdwlckwNAoJrEf7wGupeK4FIjQBo</string>
				<key>GoogleClientID</key>
				<string>978641682696-qbgjjm78j7nq7ggq2caf7vp87jq237jt.apps.googleusercontent.com</string>
				<key>GoogleMapAPIKey</key>
				<string>AIzaSyBTsllNLcrGzBFNwQi6EUrWTCj6grYTWRI</string>
				<key>OpenTokAPIKey</key>
				<string>46306432</string>
				<key>StripeKey</key>
				<string>pk_test_CMmPTEF4zRhmZZsqROWnzuF0</string>
				<key>FirebaseDBName</key>
				<string>QATesting</string>
				<key>FBAppID</key>
				<string>2237525216467076</string>
				<key>NotificationSubtitle</key>
				<string>QA Test Server</string>
				<key>SendBirdAPIKey</key>
				<string>https://api-3A5958C9-6130-44BE-897A-4D9098FEC71B.sendbird.com</string>
				<key>SendBirdAppID</key>
				<string>3A5958C9-6130-44BE-897A-4D9098FEC71B</string>
				<key>SendBirdAPIToken</key>
				<string>5485cf619b0084d2ce63751bd7a777baaede90c2</string>
				<key>byPassVerificationCode</key>
				<false/>
				<key>IntercomAPIKey</key>
				<string>ios_sdk-686bc9ac6f33e5d4f783cda0deae490cd679a6d1</string>
				<key>IntercomAppID</key>
				<string>wo3px7lq</string>
				<key>EnableIPStack</key>
				<true/>
				<key>IPStackAccesskey</key>
				<string>e66f571f52c46d6d36d9427fafec2c49</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
